*{
    margin: 0;
}
body{
    background-color: rgba(254,254,255,1);
    display: grid;
    font-family: 'Assistant', sans-serif;
    color: rgba(0, 0, 0, 0.9)
}

header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #04454d;
    height: 56px;
    align-items: center;
}
nav{
    display: grid;
    grid-template-columns: 40px 40px 40px;
    margin-left: 20px;
}

.icon{
    font-size: 20px;
    border-radius: 50%;
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
}

i.fa-solid{
    display: grid;
    align-items: center;
}

i.fa-plus{
    background-color: rgb(79, 208, 99)
}

i.fa-plus:hover{
   height: 37px;
   width: 37px;
}

i.fa-bars:hover{
    background-color: rgb(25, 93, 103);
}
i.fa-envelope:hover{
    background-color: rgb(25, 93, 103);
} 
i.fa-house:hover{
    background-color: rgb(25, 93, 103);
}

#openModal{
    margin-left: 180px;
}

.modalContainer{
    display: grid;
    position:fixed;
    background-color: rgba(254,254,255,1);
    height: 100px;
    width: 200px;
    left: 1100px;
    margin-top: 150px;
    box-shadow: 0 10px 20px rgba(163,172,182,0.5), 0 6px 6px rgba(163,172,182,0.5);
    pointer-events: none;
    opacity: 0;
}

.show{
    pointer-events: unset;
    opacity: 1;
}

.homeworkMoldal{
    display: block;
    margin-left: 30px;
    color: rgba(0,0,0,.9);
    font-size: 15px;
    font-weight: 400;
}

.work{
    height: 32px;
    display: grid;
    align-items: center;
    margin-top: 20px;
}

.work:hover{
    background-color: rgba(163,172,182,.2);
}

#contenedorModalHomework{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#openModalTarea{
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-column-gap: 20px;
    background-color: aliceblue;
    height: 720px;
    width: 800px;
    margin-left: 325px;
}

textarea{
    width: 90%;
   height: 30px;
   border: none;
   padding-top: 10px;
   padding-left: 25px;
   font-size: 20px;
   font-family: inherit;
   color: rgba(0,0,0,.9);
}

textarea:hover{
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
}

.close{
    font-size: 25px;
    color: black;
}