:root{
    --color_1: rgba(254,254,255,1)
}

*{
    margin: 0;
}
body{
    background-color: var(--color_1);
    display: grid;
    font-family: 'Assistant', sans-serif;
    color: rgba(0, 0, 0, 0.9)
}

header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #04454d;
    height: 56px;
    align-items: center;
}

nav{
    display: grid;
    grid-template-columns: 40px 40px 40px;
    margin-left: 20px;
}

.icon{
    font-size: 20px;
    border-radius: 50%;
    color: var(--color_1);
    height: 35px;
    width: 35px;
    text-align: center;
}

.icon_2{
    margin-left: 190px;
}

i.fa-solid{
    display: grid;
    align-items: center;
}

i.fa-plus{
    background-color: rgb(79, 208, 99)
}

i.fa-plus:hover{
   height: 37px;
   width: 37px;
}

i.fa-bars:hover{
    background-color: rgb(25, 93, 103);
}

i.fa-envelope:hover{
    background-color: rgb(25, 93, 103);
} 

.container-homework{
    display: grid;
    position:fixed;
    z-index: 1;
    background-color: var(--color_1);
    height: 100px;
    width: 200px;
    left: 1100px;
    margin-top: 150px;
    box-shadow: 0 10px 20px rgba(163,172,182,0.5), 0 6px 6px rgba(163,172,182,0.5);
    pointer-events: none;
    opacity: 0;
}

.homework-modal{
    display: block;
    margin-left: 30px;
    color: rgba(0,0,0,.9);
    font-size: 15px;
    font-weight: 400;
}

.close-container-homework{
    position: absolute;
    margin-left: 180px;
    margin-top: -40px;
}

.homework-item{
    height: 32px;
    display: grid;
    align-items: center;
    margin-top: 20px;
}

.homework-item:hover{
    background-color: rgba(163,172,182,.2);
}

.container-form{
    display: grid;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 250px;
    width: 700px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(163,172,182,0.5), 0 6px 6px rgba(163,172,182,0.5);
    pointer-events: none;
    opacity: 0;
    background-color: var(--color_1);
    margin-top: -30px;
}

.modal-create-task{
    display: grid;
    grid-template-rows: 80px 110px;
    grid-column-gap: 20px;
}

.list-homework{
    width: 90%;
   height: 30px;
   border: none;
   font-size: 20px;
   font-family: inherit;
   color: rgba(0,0,0,.9);
   margin-left: 20px;
   margin-top: 10px;
}

.list-homework:hover{
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
}

.close-modal-create-t{
    font-size: 25px;
    color: black;
    font-weight: normal;
    position: absolute;
    margin-left: 670px;
}

.send-form-button{
    position: absolute;
    height: 30px;
    width: 60px;
    left: 1000px;
    top: 230px;
}

.modal-sectiones{
    display: grid;
    position:fixed;
    background-color: var(--color_1);
    height: 150px;
    width: 200px;
    left: 50px;
    margin-top: 40px;
    box-shadow: 0 10px 20px rgba(163,172,182,0.5), 0 6px 6px rgba(163,172,182,0.5);
    pointer-events: none;
    opacity: 0;
    grid-template-rows: 40px;
}

.list-section{
    display: block;
    margin: 35px;
    font-family: 'Assistant', sans-serif;
    color: rgba(0, 0, 0, 0.9)
}

.close-modal-sections{
    position: absolute;
    margin-left: 185px;
}

.close-container-homework:hover, .close-modal-create-t:hover, .close-modal-sections:hover, .close-modal-class:hover{
    color: rgba(68,136,255,1);
}

.show3{
    z-index: 1;
}

.welcome-section{
    display: grid;
    grid-template-rows: 200px;
    position: fixed;
    margin-top: 55px;
    height: 1425px;
    width: 100%;
}

.title-section-welcome{
    margin-top: 200px;
    font-size: 70px;
    text-align: center;
}

.welcom_form{
    display: grid;
    width: 400px;
    margin: auto;
    height: 100px;
    margin-top: 150px;
}

.input{
    background-color: var(--color_1);
}

.send-name-button{
    background-color: #04454d;
    color: var(--color_1);
    margin-top: 3px;
}

.form-control, .submit-button{
    border-radius: 0.25rem;
}

.send-name-button:hover{
    background-color: rgb(25, 93, 103);
}

.add-name-to-sect-welcome{
    display: grid;
    pointer-events: none;
    margin-top: -600px;
    opacity: 0; 
}

.name{
    margin: auto;
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    margin-left: 600px;
}

.task-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position:fixed;
    background-color: var(--color_1);
    height: 100%;
    width: 1425px;
    margin-top: 70px;
    left: 17px;
    pointer-events: none;
    opacity: 0;
}

.state-task{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 100%;
    box-shadow: 0 10px 20px rgba(163,172,182,0.5), 0 6px 6px rgba(163,172,182,0.5);
}

.title-task-status{
    margin: 26px;
    font-size: 15px;
}

p{
    margin: 26px 0 0 26px;
    border-bottom: 1px solid grey;
    height: 30px;
    width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-and-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--color_1);
    height: 150px;
    width: 700px;
    margin: auto;
    left: 354px;
    top: -40px;
    box-shadow: 0 10px 20px rgba(163,172,182,0.5), 0 6px 6px rgba(163,172,182,0.5);
    pointer-events: none;
    opacity: 0;
}

.description-class{
    width: 94%;
    margin-left: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9)
}

.title-class{
    margin-bottom: 30px;
}

.close-modal-class{
    margin-top: -120px;
    position: absolute;
    left: 680px;
}

.show, .show3{
    pointer-events: unset;
    opacity: 1;
}

.remove-form-welcome, .remove-modal{
    pointer-events: none;
    opacity: 0;
}