:root {
  --color_1: rgba(254, 254, 255, 1);
}

* {
  margin: 0;
}
body {
  background-color: var(--color_1);
  display: grid;
  font-family: "Assistant", sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #04454d;
  height: 56px;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  margin-left: 20px;
}

.icon {
  font-size: 20px;
  border-radius: 50%;
  color: var(--color_1);
  height: 35px;
  width: 35px;
  text-align: center;
}

.plusIcon {
  margin-left: 190px;
}

i.fa-solid {
  display: grid;
  align-items: center;
}

i.fa-plus {
  background-color: rgb(79, 208, 99);
}

i.fa-plus:hover {
  height: 37px;
  width: 37px;
}

i.fa-bars:hover {
  background-color: rgb(25, 93, 103);
}

i.fa-envelope:hover {
  background-color: rgb(25, 93, 103);
}

.container-homework {
  position: fixed;
  z-index: 1;
  background-color: var(--color_1);
  height: 100px;
  width: 200px;
  margin-top: 150px;
  box-shadow: 0 10px 20px rgba(163, 172, 182, 0.5),
    0 6px 6px rgba(163, 172, 182, 0.5);
}

.homework-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70px;
}

.close-container-homework {
  margin-left: 180px;
  cursor: pointer;
}

.homework-modal {
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.homework-modal:hover {
  background-color: rgba(163, 172, 182, 0.2);
}

.container-form {
  z-index: 1;
  height: 250px;
  width: 700px;
  box-shadow: 0 10px 20px rgba(163, 172, 182, 0.5),
    0 6px 6px rgba(163, 172, 182, 0.5);
  background-color: var(--color_1);
  margin-top: -30px;
}

.modal-create-task {
  display: grid;
  grid-template-rows: 40px 40px 40px 40px;
  grid-column-gap: 20px;
}

.activity {
  width: 90%;
  height: 30px;
  font-size: 20px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 20px;
  margin-top: 10px;
}

.label-form-1 {
  margin-top: 20px;
  margin-left: 20px;
  height: 30px;
}

.label-form-2 {
  margin-top: 10px;
  margin-left: 20px;
  height: 30px;
}

.activity:hover {
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
}

.close-containerForm {
  font-size: 25px;
  color: black;
  font-weight: normal;
  position: absolute;
  margin-left: 670px;
}

.send-form-button {
  position: absolute;
  height: 30px;
  width: 60px;
  top: 230px;
}

.modalSections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  position: fixed;
  background-color: var(--color_1);
  height: 100px;
  width: 200px;
  left: 50px;
  margin-top: 40px;
  box-shadow: 0 10px 20px rgba(163, 172, 182, 0.5),
    0 6px 6px rgba(163, 172, 182, 0.5);
}

.list-section {
  font-family: "Assistant", sans-serif;
  color: rgba(0, 0, 0, 0.9);
}

.list-section:hover {
  background-color: rgba(163, 172, 182, 0.2);
}

.close-sections {
  position: absolute;
  margin-left: 185px;
  bottom: 80px;
}

.close-container-homework:hover,
.close-containerForm:hover,
.close-sections:hover,
.close-modal-class:hover {
  color: rgba(68, 136, 255, 1);
}

.welcome-section {
  position: fixed;
  width: 100%;
  margin-top: 60px;
}

.title-section-welcome {
  margin-top: 200px;
  font-size: 70px;
  text-align: center;
}

.welcom-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  margin-top: 80px;
}

.input {
  background-color: var(--color_1);
}

.send-name-button {
  background-color: #04454d;
  color: var(--color_1);
  margin-top: 3px;
}

.form-control,
.submit-button {
  border-radius: 0.25rem;
}

.send-name-button:hover {
  background-color: rgb(25, 93, 103);
}

.addName-to-sectionWelcome {
  display: flex;
  margin-top: -100px;
}

.name {
  margin: auto;
  font-weight: 600;
  font-size: 30px;
}

.task-section {
  display: flex;
  position: fixed;
  background-color: var(--color_1);
  height: 100%;
  margin-top: 70px;
  left: 17px;
}

.title-task-status {
  margin: 26px;
  font-size: 15px;
}

p {
  margin: 26px 0 0 26px;
  border-bottom: 1px solid grey;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.description-and-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--color_1);
  height: 150px;
  width: 700px;
  margin: auto;
  left: 354px;
  top: -40px;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0 10px 20px rgba(163, 172, 182, 0.5),
    0 6px 6px rgba(163, 172, 182, 0.5);
}

.description-class {
  width: 90%;
  height: 70px;
  font-size: 20px;
  font-family: inherit;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.title-class {
  margin-bottom: 30px;
}

.close-modal-class {
  margin-top: -120px;
  position: absolute;
  left: 680px;
  cursor: pointer;
}

.hide {
  pointer-events: none;
  opacity: 0;
}

.show {
  pointer-events: unset;
  opacity: 1;
}

.remove-form-welcome {
  pointer-events: none;
  opacity: 0;
}

.state-task {
  overflow: auto;
}

@media (min-width: 600px) {
  header {
    width: 110%;
  }

  .container-form {
    margin-left: 200px;
  }

  .send-form-button {
    left: 800px;
  }

  .state-task {
    width: 1030px;
    height: 100%;
    box-shadow: 0 10px 20px rgb(163 172 182 / 50%),
      0 6px 6px rgb(163 172 182 / 50%);
  }

  p {
    width: 970px;
  }
}

@media (min-width: 800px) {
  header {
    width: 110%;
  }

  .container-homework {
    left: 820px;
  }

  .task-section {
    flex-direction: column;
  }
}

@media (min-width: 1400px) {
  header {
    width: 100%;
  }

  .plusIcon {
    margin-left: 270px;
  }

  .container-homework {
    left: 1180px;
  }

  .container-form {
    margin-left: 350px;
  }
  .send-form-button {
    left: 950px;
  }

  .task-section {
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
  }

  .state-task {
    width: 450px;
  }

  p {
    width: 400px;
  }
}
